{% extends "layout.html" %}
{% block content %}
    <style>
    .video {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 630px;
    }
    </style>

    <div onload="onYouTubeIframeAPIReady()" name="ytplayer" id="player" class="video"></div>

    <script>
        var MyVideos = {{ playlist|safe }};
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '720',
                width: '1280',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            //Player is ready, cue the array of videos into the playlist.
            player.cuePlaylist(MyVideos);
        }

        function onPlayerStateChange(event) {
        }

    </script>

{% endblock %}