{%extends "layout.html"%}
{%block content%}
    <div class="embed-responsive embed-responsive-16by9">
        <div class="actualyoutube">
            <iframe width="560" height="300"
                    src="http://www.youtube.com/embed/GOFQN8otiYs"
                    frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
    <button id="change-video" class='btn btn-secondary btn-lg btn-block'>Change Video</button>
<script>
    document.getElementById("change-video").onclick = function(){
       {% for item in videos_list %}
        var videoid = {{ item[0] }};
        $(".actualyoutube iframe").remove();
        $('<iframe width="560" height="300" frameborder="0" allowfullscreen></iframe>')
            .attr("src", "http://www.youtube.com/embed/" + videoid)
            .appendTo(".actualyoutube");
    {% endfor %}
    }
</script>

{%endblock%}