{%extends "layout.html"%}
{%block content%}
    <div id="player"></div>
    <button class='shuffle' class='btn btn-secondary btn-lg btn-block'>Change Video</button>
<script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '460',
            width: '890',
            videoId: 'M7lc1UVf-VE',
            playerVars: { 'autoplay': 1,
            list: '{{ playlist }}'
           },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
      }

     var playerReady = false;
    function onPlayerReady(event) {
        playerReady = true;
    }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            alert('done');

        }
    }

    $(".shuffle").on("click", function() {
        player.cuePlaylist('{{ playlist }}', 0, "default");
    });
    </script>

{%endblock%}