{%extends "layout.html"%}
{%block content%}


<section class="hero">
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-6">
                    <h1 class="display-5">Rediscovering Videos</h1>
                    <p class="lead">Untapped Youtube Talent,    Unexplored VideoFeed,   Endless Minutes!</p>
                    <p class="lead">
                        <a class="btn btn-outline-light" href="{{ url_for('signup') }}" role="button">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="sec-about" class="sec-about pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-8">
                <h1 class="h4">About us</h1>
                <p class="mt-4 mb-4">Discover unique and interesting things across the Youtube ... Shuffle is basically a discovery engine for Youtube
                    that recommends photography, art, humor, fashion, sports, technology and just about every other topic you can think of</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}