 /*Resets */
hr {
  margin-left: 0;
  max-width: 40px;
  border: 1px solid black;
}

 .navbar .dropdown-menu a:hover {
    color: #616161 !important;
}

 /*Jumbotron (hero)*/
.jumbotron {
  position: relative;
  background: url('/static/img/cover.jpg') no-repeat bottom center/cover;
}
.jumbotron:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.jumbotron .container {
  padding: 75px 0;
}
.jumbotron h1,
.jumbotron .lead {
  color: #fff;
}

/*!* Bustom button *!*/
.btn-primary {
  background: #1096fc;
  border: 0;
}
.btn-primary:hover {
  background: #0384e5;
}


/*!* Footer *!*/
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #212121;
}
.footer li:nth-of-type(n + 2) {
  margin-left: 8px;
}
.footer a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.235s ease-in-out;
  transition: color 0.235s ease-in-out;
}
.footer a:focus, .footer a:hover {
  color: rgba(255, 255, 255, 0.25);
}

